@charset "UTF-8";

@font-face {
    font-family: "untitled-font-1";
    src:url("../fonts/untitled-font-1.eot");
    src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "untitled-font-1" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "untitled-font-1" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
    content: "\61";
}
.icon-google:before {
    content: "\62";
}
.icon-github:before {
    content: "\63";
}
.icon-facebook:before {
    content: "\64";
}
.icon-header:before {
    content: "\65";
}
.icon-html5:before {
    content: "\66";
}
.icon-user:before {
    content: "\67";
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #919191;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.title,
.secondary-title {
    text-transform: uppercase;
    line-height: 24px;
    font-weight: bold;
    font-size: 22px;
    color: #566366;
}

.title {
    padding-top: 100px;
    margin-bottom: 45px;
    font-size: 30px;
}

.secondary-title {
    margin-bottom: 20px;
}

.contacts__title {
    color: #fff;
}

.btn {
    display: inline-block;

    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #2ecc71;
    text-transform: uppercase;
    text-decoration: none;

    border: 2px solid #2ecc71;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}

.header,
.contacts {
    background-color: #252e30;
}

.footer {
    background-color: #191f21;
}

.main-info,
.skills,
.education,
.courses,
.portfolio {
    background-color: #fff;
}

.minor-info,
.resume,
.testimonials {
    background-color: #f2f2f1;
}

.nav {
    width: 835px;
    font-size: 0;
}

.nav__item {
    display: inline-block;
    margin-left: 40px;
    padding: 20px 0;
}

.nav__item:first-child {
    margin-left: 0;
}

.nav__link {
    display: inline-block;

    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.nav__link:hover {
    color: #2ecc71;
}

.main-info__text {
    margin-bottom: 95px;
    width: 360px;
}

.main-info__item {
    float: left;
    width: 380px;
    margin-left: 20px;
}

.main-info__item:first-child {
    margin-left: 0;
}

.minor-info__title {
    padding-top: 90px;
    margin-bottom: 45px;
}

.minor-info__text {
    margin-bottom: 20px;
}

.minor-info__photo {
    float: left;
    width: 610px;
    height: 755px;

    overflow: hidden;
}

.minor-info__narration {
    float: left;
    width: 680px;
    margin-left: 100px;
}

.minor-info-items {
    font-size: 0;
    padding-top: 20px;
}

.minor-info__item {
    display: inline-block;
    position: relative;
    width: 320px;
    margin-bottom: 42px;
    vertical-align: top;
}

.minor-info-item__title {
    padding-left: 75px;
}

.minor-info-item__title:before {
    position: absolute;
    top: 0;
    left: 0;

    color: #2ecc71;
    font-weight: bold;
    font-size: 50px;

    z-index: 10;
}

.logo-js:before {
    content: "JS";
    top: 10px;
}

.icon-html5 {
    margin-bottom: 30px;
}

.minor-info__item:nth-child(2n) {
    margin-left: 40px;
}

.portfolio__title,
.portfolio__info {
    text-align: center;
}

.portfolio__info {
    margin-bottom: 95px;
}

.portfolio {
    border-bottom: 1px solid #ccc;
}

.portfolio-item {
    float: left;
    width: 365px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.portfolio-item:hover {
    opacity: 0.5;
}

.portfolio-item:last-child {
    margin-bottom: 100px;
}

.portfolio-item:nth-child(3n+1) {
    margin-left: 0;
}

.minor-info-item__text {
    font-size: 18px;
}

.skills__info {
    float: left;
    width: 540px;
}

.skills-items {
    float: left;
    width: 540px;
    margin-left: 100px;
}

.skills__text {
    margin-bottom: 45px;
}

.skills__btn {
    padding: 15px 36px;
    margin-bottom: 180px;
}

.skill-item {
    margin-bottom: 40px;
}

.skill-item__progress {
    width: 560px;
    height: 30px;

    background-color: #f2f2f1;
}

.skill-item__percent {
    width: 56px;
    height: 30px;
    padding-left: 448px;

    color: #fff;
    font-weight: bold;
    background-color: #2ecc71;
}

.percent-70 {
    padding-left: 336px;
}

.percent-60 {
    padding-left: 280px;
}

.resume__container {
    text-align: center;
}

.resume__info {
    margin-bottom: 45px;
}

.resume__btn {
    padding: 19px;
    width: 167px;
    margin-bottom: 100px;
}

.education {
    border-bottom: 1px solid #ccc;
}

.education__place,
.courses__place,
.contacts__mail,
.contacts__phone,
.skills__span {
    font-weight: 500;
}

.education__place-date,
.courses__place-date {
    margin-bottom: 15px;
}

.education__gpa,
.courses__gpa {
    margin-bottom: 30px;
    width: 70px;
    height: 30px;

    color: #fff;
    font-weight: bold;
    text-align: center;

    background-color: #2ecc71;
}

.english-level {
    width: 200px;
}

.education__container {
    position: relative;
}

.education__title:before {
    position: absolute;
    content: '';
    top: 0;
    left: 47%;
    width: 0;
    height: 0;

    z-index: 10;
    border-top: 20px solid #f2f2f1;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.education__info,
.courses__info {
    padding-top: 30px;
    border-top: 1px solid #ccc;
}

.education-item,
.courses-item {
    float: left;
    width: 365px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.courses-item:last-child {
    margin-bottom: 100px;
}

.education-item:nth-child(3n+1),
.courses-item:nth-child(3n+1) {
    margin-left: 0;
}

.testimonial-item__text {
    font-size: 24px;
    line-height: 36px;
    font-style: italic;
}

.testimonial-item__author {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 36px;
    color: #566366;
}

.contacts__info {
    float: left;
    width: 540px;
    color: #ccc;
}

.contacts__text,
.contacts__address {
    margin-bottom: 45px;
}

.contacts__mail-phone {
    margin-bottom: 450px;
}

.contacts__form {
    float: left;
    width: 540px;
    margin-left: 100px;
}

.contact-form__name-lbl,
.contact-form__mail-lbl,
.contact-form__letter-lbl {
    display: block;
    margin-bottom: 15px;
    color: #fff;
}

.contact-form__name-block,
.contact-form__mail-block,
.contact-form__letter-block {
    margin-bottom: 35px;
}

.contact-form__user-name,
.contact-form__user-mail,
.contact-form__user-message {
    height: 53px;
    width: 523px;
    padding-left: 15px;

    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #fff;

    background-color: #4b5456;
    border: 1px solid #4b5456;
}

.contact-form__user-message {
    height: 280px;
}

.star {
    color: #ccc;
}

.contact-form__btn {
    padding: 20px 35px;
    color: #fff;
    background-color: #191f21;
    border: none;
}

.social {
    width: 260px;
    font-size: 0;
    padding: 50px 0;
}

.social__link {
    display: inline-block;
    margin-left: 10px;

    width: 27px;
    height: 28px;
    padding-top: 6px;
    padding-left: 8px;
    vertical-align: middle;

    text-decoration: none;
    color: #191f21;
    font-size: 18px;

    background-color: #4b5456;
    border-radius: 50%;
}

.social__link:first-child {
    margin-left: 0;
}

.social__link:hover {
    color: #fff;
}

